Source: uvccapture
Section: graphics
Priority: optional
Maintainer: Krzysztof Burghardt <krzysztof@burghardt.pl>
Build-Depends: debhelper (>= 5), libjpeg-dev
Standards-Version: 3.8.0
Homepage: http://linux-uvc.berlios.de/

Package: uvccapture
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: USB UVC Video Class snapshot software
 The purpose of this software is to capture an image from a USB webcam at a
 specified interval, and save it to a JPEG file, no other formats are supported.
 .
 Right now this software is really a hack, since still image support is not yet
 available in the UVC driver. The program continually polls the UVC driver in
 MJPEG mode, and at a specified interval writes a JPEG header and a single frame
 to file, creating a JPEG image.
